.events-control {
  text-align: center;
  border: 1px solid #5101d1;
  padding: 1rem;
  margin: 6rem auto;
  width: 40rem;
  max-width: 80%;
}

@media screen and (max-width: 320px) {
  .events-control {
    width: 80%;
    left: 10%;
  }
}
