.modal {
  width: 37rem;
  height: 75vh;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: 32%;
  display: block;
}

.modal__header {
  padding: 1rem;
  background: #5101d1;
  color: white;
}

.modal__header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal__content {
  padding: 1rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.modal__actions button {
  background: #5101d1;
  font: inherit;
  font-size: 1.1rem;
  border: 1px solid #5101d1;
  border-radius: 3px;
  padding: 0rem 1rem;
  margin: 0.5rem 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.modal__actions button:hover,
.modal__actions button:active {
  background: #5101d1;
  border-color: #01a7a7;
}

@media screen and (max-width: 500px) {
  .modal {
    width: 80%;
    left: 10%;
    top: 30vh;
    height: 70vh;
  }
}
